*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.header-gc{
    background-color: #0E0E0E;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #FD8600;
    border-radius: 50%
    }
